.row
    .col
        form.form-inline.form-generate.clearfix
            .form-group
                select.form-control.gen-input#chapter-select(ng-init="section = sections[0]"  ng-model="section" ng-options="sect.name for sect in sections track by sect.value" )
            a.btn.btn-primary.gen-button(type='button' ng-click='generate()') Generate
            