.row
    .col
        form.form-inline
            .form-group
                select.form-control#chapter-select(ng-init="chapter = 2"  ng-model="chapter" )
                        option(value='2') Chapter 2  
            a.btn.btn-primary(type='button' ng-click='generate()' style='margin-left:5px') Generate