#sidebar-wrapper
    ul.sidebar-nav
        li.sidebar-brand
            a(href='/')
                | qGen
        li
            a(href='/gen') Generate
        li
            a(href='/about') About
        li
            a(href='#') Contact
// #sidebar-wrapper