#sidebar-wrapper
    ul.sidebar-nav
        li.sidebar-brand
            a(href='/')
                | qGen
        li
            a(href='#') List
        li
            a(href='#') About
        li
            a(href='#') Contact
// #sidebar-wrapper