extends layout.jade

block content
    h3 Design Goals
    ul
        li Generate pseudo random problems modeled after existing problems found in the textbook
        li Choose the givens of a problem in a way that maximizes the amount of integers in the answer and intermediate values when possible and appropriate.
        li Check entered answers for correctness
        li Allow adding and removing problems to a problem set that remains persistent between pages and sessions 
        li Use responsive design to ensure the page displays properly on desktop, mobile, and print.
    h3 Stretch Goals
    ul
        li Associate each possible problem set with a unique value such that identical problem sets are produced when given the same value
        li Allow privileged users to view the answer for a given problem
        li Provide a way to track the problems completed by individual students
