extends layout.jade

block append scripts
    script(src='/javascripts/main.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js').    
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js')
    script(src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML')
    script.
        type="text/x-mathjax-config"> MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [['$','$'], ['\\(','\\)']],
            processEscapes: true,
            },
            showMathMenu: false,
            menuSettings: { inTabOrder: false }
        });

block content
    #questions(ng-app="questions" ng-controller="questionCtrl")
        question-template
        include partials/gen-button