extends layout.jade

block content
    form.form-inline
        .form-group
            label Chapter: 
            select.form-control
                option(value='volvo') Volvo
                option(value='saab') Saab
                option(value='opel') Opel
                option(value='audi') Audi             
            button.btn.btn-primary(type='button') Generate
            button.btn.btn-primary(type='button') Generate
    each sub in subs
        .panel
            p= sub