extends layout.jade

block append scripts
    script(src='/javascripts/main.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js')


block content
    #questions(ng-app="questions" ng-controller="questionCtrl")
        question-template
        include partials/gen-button