include ./partials/head.jade

doctype html
html(lang='en')
    head
        block meta
            meta(charset='utf-8')
            meta(http-equiv='X-UA-Compatible', content='IE=edge')
            meta(name='viewport', content='width=device-width, initial-scale=1')
            meta(name='description', content='')
            meta(name='author', content='')
        block title
            if title
                title= title
            else
                title Simple Sidebar - Start Bootstrap Template
        block includes
            // Bootstrap Core CSS
            link(rel="stylesheet" ,href='/stylesheets/bootstrap.css',crossorigin="anonymous")
            //link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
            // Custom CSS            
            link(href='/stylesheets/sidebar.css', rel='stylesheet')
    body
        #wrapper
            block sidebar
                include ./partials/sidebar.jade
            // Page Content
            #page-content-wrapper
                .container-fluid
                    .row
                        .col-lg-6.col-lg-offset-1.col-md-8.col-md-offset-1.col-sm-10.col-sm-offset-1.col-xs-12.col-cs-offset-0
                            block header
                                h1= title
                                h4 Physics Problem Generator
                                hr
                            block content
                                p
                                    | This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.
                                p
                                    | Make sure to keep all page content within the 
                                    code #page-content-wrapper
                                    | .
                                a#menu-toggle.btn.btn-default(href='#menu-toggle') Toggle Menu
            // #page-content-wrapper
        // #wrapper
        include ./partials/script.jade
        
