div(ng-repeat='question in questions')
    .row.question-block
        .col
            .panel.panel-default
                .panel-heading
                    span.panel-title Question 
                        span.question-number {{::questionCount}}
                    span.panel-title.panel-subtitle Chapter 
                        span.chapter-number {{question.chapter}}
                .panel-body
                    .row
                        .col.col-xs-12
                            p.question-text {{question.text}}
                    .row
                        .col.col-xs-12(ng-repeat='attr in question.attr' ng-class='::"col-lg-"+size')
                            form
                                .form-group.question-input
                                    label(for='exampleInputAmount', style='margin-left:10px') {{attr.label}}
                                    .input-group
                                        input.form-control(type='text', placeholder='{{attr.label}}')
                                        .input-group-addon {{attr.unit}}
                        .col(ng-class='::"col-lg-"+size')
                            form
                                .form-group(style="margin-bottom:0")
                                    label.visible-lg(style="visibility:hidden") fail
                                    //.input-group
                                    button.btn.btn-primary.question-input(type='submit') Check

