div.animate(ng-repeat='question in questions track by $index')
    .row.question-block
        .col
            .panel.panel-default.question(ng-class='question.panelClass')
                .panel-heading.clearfix
                    span.panel-title Question 
                        span.question-number {{$index+1}}
                    span.panel-title.panel-subtitle Chapter 
                        span.chapter-number {{question.chapter}}
                    a.btn.btn-sm.pull-right(ng-click="remove($index)" style='color:black')
                        span.glyphicon.glyphicon-remove
                    a.btn.btn-sm.pull-right(ng-click="generate(true,$index)" style='color:black')
                        span.glyphicon.glyphicon-refresh
                .panel-body.fade-in
                    .row
                        .col.col-xs-12
                            p.question-text(mathjax-bind="question.text")
                    .row
                        form(ng-submit='checkAnswer($index)')
                            .col.col-xs-12(ng-init="index2 = $index" ng-repeat='attr in question.attr track by $index' ng-class='"col-lg-"+question.width')
                                .form-group.question-input(ng-class='{disabled: question.correct}')
                                    label(for='exampleInputAmount', style='margin-left:10px' mathjax-bind="attr.label") {{attr.label}}
                                    .input-group
                                        input.form-control(type='text', placeholder='{{attr.label}}' ng-model='question.entered[index2]' ng-disabled='question.buttonText == "correct"')
                                        .input-group-addon(mathjax-bind="attr.unit") \({{attr.unit}}\)
                            .col(ng-class='"col-lg-"+question.width')
                                .form-group(style="margin-bottom:0")
                                    label.visible-lg(style="visibility:hidden") fail
                                    //.input-group
                                    button.btn.btn-primary.question-input(type='submit'  ng-class='question.buttonClass') {{question.buttonText}}

